body, html {
  margin: 0;
}

#home {
  background: url('../../public/img/background.jpeg');
  background-size: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  margin: 0;
  color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-left: 20%;
  background-size: cover;
}

.efaGep {
  color: white;
}

.typing {
  color: white;
  font-size: 25px;
}

.headertext {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 30px;
  margin-left: 10px;
  background-color: #F5F5F5;
}

.about {
  height: 60vh;
  align-items: center;
  background-color: #F5F5F5;
}

.portfolio {
  background: url('../../public/img/background2.jpg');
  height: 100vh;
  background-attachment: fixed;
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 30px;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 20px;
  background-color: #F5F5F5;
}

.librariesandframeworks {
  font-size: 17px;
}

.contact {
  background: url('../../public/img/background3.jpg');
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  background-size: 100%;
}

.footer {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  background-color: #212121;
  color: white;
}

.email {
  background-color: #F5F5F5;
  width: 30vw;
  height: 90vh;
  justify-content: center;
  align-items:center;
  padding: 10px;
}

.emailaddress {
  color: #0288D1;
  transition: color .30s ease-in-out;
}

.emailaddress:hover {
  color: #757575;
  transition: color .30s ease-in-out;
}
.rightbar {
  margin-left: 20%;
}

#sidebar {
  height: 100vh;
  width: 20%;
  background-color:#EEEEEE;
  position: fixed;
}

.sidebar-button {
  color: black;
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  padding: 5px;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color  .30s ease-in-out;
  -webkit-transition: background-color  .30s ease-in-out;
}

.sidebar-button:hover{
  background-color: #BDBDBD;  
  transition: background-color .40s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color .40s ease-in-out;
  -webkit-transition: background-color .40s ease-in-out;
  cursor: pointer;
}

.sidebar-profile{
  left: 0;
  position: absolute;
  padding-left: 5px;
  padding-bottom: 5px;
  bottom: 0;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 25px;
  margin: 0;
}

.textSmall {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  margin: 0;
}

.header{
  font-size: 50px;
}

.landing {
  display: flex;
}

.ryana{
  text-align: center;
}

.fa {
  width: 20px;
  height: 20px;  
}

.abouttext {
  font-family: 'Lato', 'sans-serif';
  font-weight: 900;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
}

.portfolioblock {
  width: 200px;
  height: 200px;
  background-color: white;
  text-align: center;
  margin: 30px;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color  .30s ease-in-out;
  -webkit-transition: background-color  .30s ease-in-out;
  cursor: pointer;
}

.portfolioblock:hover {
  background-color: rgb(240, 240, 240);
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color  .30s ease-in-out;
  -webkit-transition: background-color  .30s ease-in-out;
}

.linebreak {
  width: 100%;
}

.portfolionote {
  font-size: 20px;
  color: white;
  bottom: 0;
  left: 0;
}

.portfolioblocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.portfoliotitle {
  margin: 0;
}

.portfolioinfo {
  font-size: 18px;
  margin: 0;
  font-weight: 100;
}

.portfolioimage {
  width: 190px;
}

.portfolioheader {
  text-align: center;
  color: white;
  font-size: 44px;
}

.social-icons > *{
  margin: 10px;
  cursor: pointer;
  color: black;
  transition: color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: color  .30s ease-in-out;
  -webkit-transition: color  .30s ease-in-out;
}

.social-icons > *:hover {
  color: grey;
  transition: color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: color  .30s ease-in-out;
  -webkit-transition: color  .30s ease-in-out;
}

.social-icons-home > *{
  margin: 20px;
  cursor: pointer;
  color: white;
  transition: color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: color  .30s ease-in-out;
  -webkit-transition: color  .30s ease-in-out;
  margins-top: 5px;
}

.social-icons-home > *:hover {
  color: grey;
  transition: color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: color  .30s ease-in-out;
  -webkit-transition: color  .30s ease-in-out;
}

.message {
  width: 95%;
  height: 40vh;
}

input[type=text] {
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Lato', 'sans-serif';
}

.submitbutton {
  background-color: grey;
  border: none;
  padding: 8px 12px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none; 
  color: white;
  cursor: pointer;
}

.blog {
  margin-left: 20%;
  padding: 10px;
  font-family: 'Lato', 'sans-serif';
  background-color: #4667FF;
  color: white;
  display: flex;
  justify-content: center;
}

.exit {
  right: 0; 
  position: absolute;
  cursor: pointer;
}

